<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'Product.css' %}">
  </head>
  <body>
    <div class="product-details-page">
      <div class="header-top">
        <div class="logo"><img class="img" src="img/logo.svg" /></div>
        <div class="navbar">
          <a href="{% url 'homepage:home' %}" class="div">Home</a>
          <a href="{% url 'homepage:catalog' %}" class="text-wrapper-2">Catalog</a>
          <div class="text-wrapper-2">About</div>
          <div class="text-wrapper-2">Contact Us</div>
        </div>
        <div class="icons">
          <img class="img-3" src="img/favorites.svg" />
          <div class="icon-cart"><img class="cart" src="img/cart-1.svg" /></div>
          <img class="img-3" src="img/user.svg" />
        </div>
      </div>
      <div class="breadcrumbs">
        <div class="text-wrapper-3">Home</div>
        <img class="img-2" src="img/arrow.svg" />
        <div class="text-wrapper-3">Catalog</div>
        <img class="img-2" src="img/arrow.svg" />
        <div class="text-wrapper-3">Smartphones</div>
        <img class="img-2" src="img/arrow.svg" />
        <div class="text-wrapper-3">Apple</div>
        <img class="img-2" src="img/arrow.svg" />
        <div class="text-wrapper-4">iPhone 14 Pro Max</div>
      </div>
      <div class="main-info">
        <div class="images">
          <div class="product-images">
            <img class="image" src="img/image-57.png" />
            <img class="image-2" src="img/image-61.png" />
            <img class="image-3" src="img/image-62.png" />
            <img class="image-4" src="img/image-63.png" />
          </div>
          <img class="image-5" src="img/image-2.png" />
        </div>
        <div class="info">
          <div class="div-2">
            <div class="div-3">
              <p class="p">Apple iPhone 14 Pro Max</p>
              <div class="div-4">
                <div class="text-wrapper-5">$1399</div>
                <div class="text-wrapper-6">$1499</div>
              </div>
            </div>
            <div class="div-3">
              <div class="colors">
                <div class="text-wrapper-7">Select color :</div>
                <div class="frame">
                  <div class="ellipse"></div>
                  <div class="ellipse-2"></div>
                  <div class="ellipse-3"></div>
                  <div class="ellipse-4"></div>
                  <div class="ellipse-5"></div>
                </div>
              </div>
              <div class="div-4">
                <div class="tab"><div class="text-wrapper-8">128GB</div></div>
                <div class="div-wrapper"><div class="text-wrapper-9">256GB</div></div>
                <div class="div-wrapper"><div class="text-wrapper-9">512GB</div></div>
                <div class="tab-2"><div class="text-wrapper-10">1TB</div></div>
              </div>
              <div class="div-5">
                <div class="detail">
                  <img class="img-2" src="Iphone 14 pro Gold.svg" />
                  <p class="div-6">
                    <span class="span">Screen size</span>
                    <span class="text-wrapper-11"> <br /></span>
                    <span class="text-wrapper-12">6.7&#34;</span>
                  </p>
                </div>
                <div class="detail-2">
                  <img class="img-2" src="img/smartphone-rotate-2-svgrepo-com-2-3.svg" />
                  <p class="div-6">
                    <span class="text-wrapper-13">CPU</span>
                    <span class="text-wrapper-11"> </span>
                    <span class="text-wrapper-12">Apple A16 Bionic</span>
                  </p>
                </div>
                <div class="detail-2">
                  <img class="img-2" src="img/smartphone-rotate-2-svgrepo-com-2-4.svg" />
                  <p class="div-6">
                    <span class="text-wrapper-13">Number of Cores</span>
                    <span class="text-wrapper-11"> </span>
                    <span class="text-wrapper-12">6</span>
                  </p>
                </div>
                <div class="detail-2">
                  <img class="img-2" src="img/smartphone-rotate-2-svgrepo-com-2-2.svg" />
                  <p class="div-6">
                    <span class="text-wrapper-13">Main camera </span> <span class="text-wrapper-12">48-12 -12 MP</span>
                  </p>
                </div>
                <div class="detail-2">
                  <img class="img-2" src="img/image.svg" />
                  <p class="div-6">
                    <span class="text-wrapper-13">Front-camera</span>
                    <span class="text-wrapper-11"> </span>
                    <span class="text-wrapper-12">12 MP</span>
                  </p>
                </div>
                <div class="detail-2">
                  <img class="img-2" src="img/smartphone-rotate-2-svgrepo-com-2.svg" />
                  <p class="div-6">
                    <span class="text-wrapper-13">Battery capacity</span>
                    <span class="text-wrapper-11"> </span>
                    <span class="text-wrapper-12">4323 mAh</span>
                  </p>
                </div>
              </div>
              <p class="text">
                <span class="text-wrapper-14"
                  >Enhanced capabilities thanks toan enlarged display of 6.7 inchesand work without rechargingthroughout
                  the day. Incredible photosas in weak, yesand in bright lightusing the new systemwith two cameras
                </span>
                <span class="text-wrapper-15">more...</span>
              </p>
            </div>
          </div>
          <div class="div-5">
            <button class="button"><div class="text-wrapper-16">Add to Wishlist</div></button>
            <button class="button-2"><div class="text-wrapper-17">Add to Card</div></button>
          </div>
          <div class="div-7">
            <div class="feature">
              <div class="icon-delivery">
                <div class="img-2"><div class="delivery-truck"></div></div>
              </div>
              <p class="free-delivery">
                <span class="text-wrapper-18">Free Delivery<br /></span>
                <span class="text-wrapper-19">1-2 day</span>
                <span class="text-wrapper-18">&nbsp;</span>
              </p>
            </div>
            <div class="feature">
              <div class="icon-stock"><img class="img-2" src="img/shop-2-svgrepo-com-2.svg" /></div>
              <p class="div-8">
                <span class="text-wrapper-18">In Stock<br /></span> <span class="text-wrapper-19">Today </span>
              </p>
            </div>
            <div class="feature">
              <div class="icon-guaranteed"><img class="img-2" src="img/verify.png" /></div>
              <p class="div-8">
                <span class="text-wrapper-18">Guaranteed<br /></span> <span class="text-wrapper-19">1 year</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="details">
        <div class="content">
          <div class="text-wrapper-20">Details</div>
          <p class="just-as-a-book-is">
            Just as a book is judged by its cover, the first thing you notice when you pick up a modern smartphone is
            the display. Nothing surprising, because advanced technologies allow you to practically level the display
            frames and cutouts for the front camera and speaker, leaving no room for bold design solutions. And how good
            that in such realities Apple everything is fine with displays. Both critics and mass consumers always praise
            the quality of the picture provided by the products of the Californian brand. And last year&#39;s 6.7-inch
            Retina panels, which had ProMotion, caused real admiration for many.
          </p>
          <div class="details-2">
            <div class="div-2">
              <div class="text-wrapper-21">Screen</div>
              <div class="div-3">
                <div class="line">
                  <div class="text-wrapper-22">Screen diagonal</div>
                  <div class="text-wrapper-23">6.7&#34;</div>
                </div>
                <div class="line">
                  <div class="text-wrapper-22">The screen resolution</div>
                  <div class="text-wrapper-23">2796x1290</div>
                </div>
                <div class="line-2">
                  <div class="text-wrapper-22">The screen refresh rate</div>
                  <div class="text-wrapper-23">120 Hz</div>
                </div>
                <div class="line-2">
                  <div class="text-wrapper-22">The pixel density</div>
                  <div class="text-wrapper-23">460 ppi</div>
                </div>
                <div class="line-2">
                  <div class="text-wrapper-22">Screen type</div>
                  <div class="text-wrapper-23">OLED</div>
                </div>
                <div class="line-2">
                  <div class="text-wrapper-22">Additionally</div>
                  <p class="dynamic-island">
                    Dynamic Island<br />Always-On display<br />HDR display<br />True Tone<br />Wide color (P3)
                  </p>
                </div>
              </div>
            </div>
            <div class="div-2">
              <div class="text-wrapper-21">CPU</div>
              <div class="div-3">
                <div class="line-2">
                  <div class="text-wrapper-22">CPU</div>
                  <div class="text-wrapper-23">A16 Bionic</div>
                </div>
                <div class="line-2">
                  <div class="text-wrapper-22">Number of cores</div>
                  <div class="text-wrapper-23">6</div>
                  <img class="line-3" src="img/line-14.svg" />
                </div>
              </div>
            </div>
          </div>
          <button class="button-3">
            <div class="text-wrapper-24">View More</div>
            <div class="icon-arrow-down"></div>
          </button>
        </div>
      </div>
      <div class="reviews">
        <div class="top">
          <div class="div-7"><div class="text-wrapper-25">Reviews</div></div>
          <div class="overall-rating">
            <div class="overall-rating-2">
              <div class="text-wrapper-26">4.8</div>
              <div class="text-wrapper-27">of 125 reviews</div>
              <div class="stars">
                <img class="star" src="img/star-1.svg" />
                <img class="star" src="img/star-2.svg" />
                <img class="star" src="img/star-3-4.svg" />
                <img class="star" src="img/star-4.svg" />
                <img class="star" src="img/star-5-2.svg" />
              </div>
            </div>
            <div class="schedule">
              <div class="div-9">
                <div class="text-wrapper-28">Excellent</div>
                <div class="slider"><div class="rectangle"></div></div>
                <div class="reviews-2"><div class="text-wrapper-29">100</div></div>
              </div>
              <div class="div-9">
                <div class="text-wrapper-28">Good</div>
                <div class="slider"><div class="rectangle-2"></div></div>
                <div class="reviews-2"><div class="text-wrapper-29">&nbsp;&nbsp; 11</div></div>
              </div>
              <div class="div-9">
                <div class="text-wrapper-28">Average</div>
                <div class="slider"><div class="rectangle-3"></div></div>
                <div class="reviews-2"><div class="text-wrapper-29">&nbsp;&nbsp; 3</div></div>
              </div>
              <div class="div-9">
                <div class="text-wrapper-28">Below Average</div>
                <div class="slider"><div class="rectangle-4"></div></div>
                <div class="reviews-2"><div class="text-wrapper-29">&nbsp;&nbsp;8</div></div>
              </div>
              <div class="div-9">
                <div class="text-wrapper-28">Poor</div>
                <div class="slider"><div class="rectangle-5"></div></div>
                <div class="reviews-2"><div class="text-wrapper-29">&nbsp;&nbsp;1</div></div>
              </div>
            </div>
          </div>
          <div class="field"><div class="CVV">Leave Comment</div></div>
        </div>
        <div class="div-10">
          <div class="review">
            <img class="user-pic" src="img/user-pic-2.png" />
            <div class="content-2">
              <div class="title-stars">
                <div class="title-data">
                  <div class="text-wrapper-30">Grace Carey</div>
                  <div class="text-wrapper-31">24 January,2023</div>
                </div>
                <div class="stars-2">
                  <img class="star" src="img/star-1-2.svg" />
                  <img class="star-2" src="img/star-2-3.svg" />
                  <img class="star-2" src="img/star-3-2.svg" />
                  <img class="star-2" src="img/star-4-3.svg" />
                  <img class="star-2" src="img/star-5-4.svg" />
                </div>
              </div>
              <p class="text-wrapper-32">
                I was a bit nervous to be buying a secondhand phone from Amazon, but I couldn’t be happier with my
                purchase!! I have a pre-paid data plan so I was worried that this phone wouldn’t connect with my data
                plan, since the new phones don’t have the physical Sim tray anymore, but couldn’t have been easier! I
                bought an Unlocked black iPhone 14 Pro Max in excellent condition and everything is PERFECT. It was
                super easy to set up and the phone works and looks great. It truly was in excellent condition. Highly
                recommend!!!🖤
              </p>
            </div>
          </div>
          <div class="review">
            <img class="user-pic" src="img/user-pic-3.png" />
            <div class="content-2">
              <div class="title-stars">
                <div class="title-data">
                  <div class="text-wrapper-30">Ronald Richards</div>
                  <div class="text-wrapper-31">24 January,2023</div>
                </div>
                <div class="stars-2">
                  <img class="star" src="img/star-1-4.svg" />
                  <img class="star-2" src="img/star-2-4.svg" />
                  <img class="star-2" src="img/star-3-3.svg" />
                  <img class="star-2" src="img/star-4-4.svg" />
                  <img class="star-2" src="img/star-5-3.svg" />
                </div>
              </div>
              <p class="text-wrapper-32">
                This phone has 1T storage and is durable. Plus all the new iPhones have a C port! Apple is phasing out
                the current ones! (All about the Benjamin’s) So if you want a phone that’s going to last grab an iPhone
                14 pro max and get several cords and plugs.
              </p>
            </div>
          </div>
          <div class="review">
            <img class="user-pic" src="img/user-pic.png" />
            <div class="content-2">
              <div class="title-stars">
                <div class="title-data">
                  <div class="text-wrapper-30">Darcy King</div>
                  <div class="text-wrapper-31">24 January,2023</div>
                </div>
                <div class="stars-2">
                  <img class="star" src="img/star-1-3.svg" />
                  <img class="star-2" src="img/star-2-2.svg" />
                  <img class="star-2" src="img/star-3.svg" />
                  <img class="star-2" src="img/star-4-2.svg" />
                  <img class="star-2" src="img/star-5.svg" />
                </div>
              </div>
              <p class="text-wrapper-32">
                I might be the only one to say this but the camera is a little funky. Hoping it will change with a
                software update: otherwise, love this phone! Came in great condition
              </p>
              <div class="images-2">
                <img class="review-image" src="img/review-image1.png" />
                <img class="review-image" src="img/review-image2.png" />
              </div>
            </div>
          </div>
          <button class="button-3">
            <div class="text-wrapper-24">View More</div>
            <div class="icon-arrow-down"></div>
          </button>
        </div>
      </div>
      <div class="discount-products">
        <div class="text-wrapper-33">Related Products</div>
        <div class="div-5">
          <div class="product-card">
            <div class="top-section"><div class="icon-like"></div></div>
            <img class="iphone-pro" src="img/image.png" />
            <div class="div-10">
              <div class="div-2">
                <p class="apple-iphone-pro">Apple iPhone 14 Pro 512GB Gold (MQ233)</p>
                <div class="element">$1437</div>
              </div>
              <button class="label-wrapper"><div class="label">Buy Now</div></button>
            </div>
          </div>
          <div class="product-card">
            <div class="top-section"><div class="icon-like"></div></div>
            <img class="iphone-pro" src="img/iphone-14-pro-1-3.png" />
            <div class="div-10">
              <div class="div-2">
                <div class="apple-iphone-pro">AirPods Max Silver<br />Starlight Aluminium</div>
                <div class="element">$549</div>
              </div>
              <button class="label-wrapper"><div class="label">Buy Now</div></button>
            </div>
          </div>
          <div class="product-card">
            <div class="top-section"><div class="icon-px-like"></div></div>
            <img class="iphone-pro" src="img/iphone-14-pro-1-2.png" />
            <div class="div-10">
              <div class="div-2">
                <p class="apple-iphone-pro">Apple Watch Series 9 GPS 41mm Starlight Aluminium</p>
                <div class="element">$399</div>
              </div>
              <button class="label-wrapper"><div class="label">Buy Now</div></button>
            </div>
          </div>
          <div class="product-card">
            <div class="top-section"><div class="icon-px-like"></div></div>
            <img class="iphone-pro" src="img/iphone-14-pro-1.png" />
            <div class="div-10">
              <div class="div-2">
                <p class="apple-iphone-pro">Apple iPhone 14 Pro 1TB Gold (MQ2V3)</p>
                <div class="element">$1499</div>
              </div>
              <button class="label-wrapper"><div class="label">Buy Now</div></button>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="info-2">
          <div class="logo-text">
            <div class="logo-wrapper"><img class="img" src="img/logo-2.svg" /></div>
            <p class="text-wrapper-34">
              We are a residential interior design firm located in Portland. Our boutique-studio offers more than
            </p>
          </div>
          <div class="footer-navigation">
            <div class="section">
              <div class="text-wrapper-35">Services</div>
              <div class="text-wrapper-36">Bonus program</div>
              <div class="text-wrapper-36">Gift cards</div>
              <div class="text-wrapper-36">Credit and payment</div>
              <div class="text-wrapper-36">Service contracts</div>
              <div class="text-wrapper-36">Non-cash account</div>
              <div class="text-wrapper-36">Payment</div>
            </div>
            <div class="section">
              <div class="text-wrapper-35">Assistance to the buyer</div>
              <div class="text-wrapper-36">Find an order</div>
              <div class="text-wrapper-36">Terms of delivery</div>
              <p class="text-wrapper-36">Exchange and return of goods</p>
              <div class="text-wrapper-36">Guarantee</div>
              <div class="text-wrapper-36">Frequently asked questions</div>
              <p class="text-wrapper-36">Terms of use of the site</p>
            </div>
          </div>
        </div>
        <div class="social-icons">
          <img class="img-4" src="img/twitter.svg" />
          <img class="img-4" src="img/facebook.svg" />
          <img class="img-4" src="img/tiktok.svg" />
          <img class="img-4" src="img/instagram.svg" />
        </div>
      </footer>
    </div>
  </body>
</html>
